<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"> 
    <title>Restaurant Page Contact</title>
</head>
<body>
    <div class="main">
        <section class="image">
            <header class="header">
                <div class="top">
                    <p>Sakura Sushi & Ramen</p>
                </div>
                <div class="bottom">
                <div class="left">
                    <img src="./pictures/rice.png" alt="rice">
                </div>
                <div class="right">
                    <a href="layout.html"><button>Home</button></a>
                    <a href="layoutContact.html"><button>Menu</button></a>
                    <a href="#"><button>Contact</button></a>
                </div>
                </div>
            </header>

            <section class="contact">
                <div class="time">
                    <p class="infoTitle">Hours: </p>
                    <ul>
                        <li><p class="timeInfo">Monday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Tuesday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Wednesday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Thursday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Friday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Saturday: </p>10:00 - 22:00</li>
                        <li><p class="timeInfo">Sunday: </p>CLOSED</li>
                    </ul>
                    <div class="imageHolder">
                    <p class="infoTitle">Address:</p><br>
                    <p>Champ de Mars, 5 Av. Anatole France, 75007 Paris, France</p>
                    <img src="./pictures/map.png">
                    </div>
                </div>
            </section>
        </section>
        <div class="footer">
            <p>Copyright © The Odin Project 2023 | Nicholas Tsoukatos</p>
        </div>
    </div>
    
</body>
</html>