<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"> 
    <title>Restaurant Page Layout</title>
</head>
<body>
    <div class="main">
        <!-- <section class="image"> -->
            <header class="header">
                <div class="top">
                    <p>Sakura Sushi & Ramen</p>
                </div>
                <div class="bottom">
                <div class="left">
                    <img src="./pictures/rice.png" alt="rice">
                </div>
                <div class="right">
                    <a href="#"><button>Home</button></a>
                    <a href="layoutmenu.html"><button>Menu</button></a>
                    <a href="layoutContact.html"><button>Contact</button></a>
                </div>
                </div>
            </header>

            <section class="info">
                    <p class="title">About Us</p>
                <p>
                    Sakura Sushi & Ramen is a well-established Japanese restaurant located in the heart
                    of Paris. With a focus on authentic Japanese cuisine, it has become a local 
                    favorite for sushi and ramen enthusiasts.
                </p> 
                    <ul>
                        <li>Culinary Excellence</li>
                        <li>Diverse Menu</li>
                        <li>Warm Atmosphere</li>
                        <li>Friendly Staff</li>

                    </ul>
                
            </section>
        <!-- </section> -->
        <div class="footer">
            <p>Copyright © The Odin Project 2023 | Nicholas Tsoukatos</p>
        </div>
    </div>
</body>
</html>