<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"> 
    <title>Restaurant Page Layout Menu</title>
</head>
<body>
    <div class="main">
        <section class="image">
            <header class="header">
                <div class="top">
                    <p>Sakura Sushi & Ramen</p>
                </div>
                <div class="bottom">
                <div class="left">
                    <img src="./pictures/rice.png" alt="rice">
                </div>
                <div class="right">
                    <a href="layout.html"><button>Home</button></a>
                    <a href="#"><button>Menu</button></a>
                    <a href="layoutContact.html"><button>Contact</button></a>
                </div>
                </div>
            </header>

            <section class="menu">
                <p class="title">Menu</p>
                <div class="grid">
                    <div class="item">
                        <img src="pictures/ramen.png">
                        <div class="image-text">
                            <h1>Pork Ramen</h1>
                            <p>Pork Broth, Thinly Sliced Pork Belly, Wheat Flour Noodles, Soft Boiled Egg, Green Onions, Nori, Corn</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="pictures/noodles.png">
                        <div class="image-text">
                            <h1>Stir Fried Noodles</h1>
                            <p>Thinly Sliced Beef, Homemade Sauce, Green Onions, Ginger, Garlic, Broccoli, Mushrooms</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="pictures/nigiri.png">
                        <div class="image-text">
                            <h1>Salmon/Tuna Nigiri</h1>
                            <p>Pork Broth, Thinly Sliced Pork Belly, Wheat Flour Noodles, Soft Boiled Egg, Green Onions, Nori, Corn</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="pictures/sashimi.png">
                        <div class="image-text">
                            <h1>Salmon/Tuna Sashimi</h1>
                            <p>Fresh Ahi Tuna/Salmon, Soy Sauce, Fresh Ginger, Wasabi</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="pictures/sushi.png">
                        <div class="image-text">
                            <h1>Sakura Sushi Rolls</h1>
                            <p>White Rice, Seaweed, Cucumbers, Ahi Tuna, Avocado, Spicy Mayo, Sesame Seeds</p>

                        </div>
                    </div>
                    <div class="item">
                        <img src="pictures/onigiri.png">
                        <div class="image-text">
                            <h1>Spicy Salmon Onigiri</h1>
                            <p>White Rice, Kewpie Mayo, Sriracha, Nori, Cooked Salmon</p>

                        </div>
                    </div>
                </div>
                
            </section>
        </section>
        <div class="footer">
            <p>Copyright © The Odin Project 2023 | Nicholas Tsoukatos</p>
        </div>
    </div>
</body>
</html>